.container {
  left: 50%;
  margin-left: 26%;
  width: 100vh;
}

#article {
  margin-right: 0.1rem;
  width: 100%;
}

@media (max-width: 765px) {
  .container {
    margin-left: 10% !important;
    width: 31rem;
  }
  #article {
    width: 64% !important;
    height: 15rem;
    margin-left: 0.8rem;
  }
}
@media (max-width: 885px) {
  #article {
    width: 80%;
  }
}
@media (max-width: 965px) {
  .container {
    margin-left: 20%;
  }
}
@media (max-width: 1256px) {
  .container {
    margin-left: 20%;
  }
}



h1, h2, h3 {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 700;
}

a {
  color: rgb(177, 122, 204);
}

em {
  color: rgb(170, 150, 26);
}

pre {
  background-color: rgb(26, 25, 32) !important;
  border-color: rgb(38, 36, 47);
}

hr {
  border-color: #6b6b6b;
}

a:hover {
  text-decoration: none;
  box-shadow: inset 0px 0px 40px 40px #4d3288;
  border: 1px solid #835ed2;
  color: rgb(184, 184, 184);
}

p, ul, li {
  color: rgb(217, 215, 224);
}
