#nav-button, #nav-button-exit {
  color: white;
  background-color: rgba(123, 58, 156, 0.7);
}

#nav-button:hover, #nav-button-exit:hover {
  background-color: rgba(94, 47, 119, 0.75);
}

#nav-button {
  width: 5em;
  height: 5em;
  margin-left: 0.6em;
  top: 2%;
  position: relative;
  z-index: 1;
}

#nav-button-exit {
  width: 3em;
  height: 3em;
  margin: 0.6em;
}
